* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    min-height: 100vh;
    background-color: #ffffff;
}

.sidebar {
    grid-area: sidebar;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 250px;
    padding: 20px;
    height: 100vh;
    border-right: 2px solid #e0e0e0;
    background-color: white;
}
.layout {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid:
        "sidebar body" 1fr
        / 250px 1fr;
}

.main-nav {
    width: 100%;
}

.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #07051a;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s, transform 0.3s;
    background: transparent;
}


.main-nav ul li a::before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #a7e245;
    border-radius: 6px;
    transition: all 0.3s;
    z-index: -1;
}


.main-nav ul li a:hover::before {
    left: 0;
}

.main-nav ul li a:hover {
    color: #07051a;
    transform: translateX(10px);
}


.main-nav ul li a:active {
    transform: scale(0.98);
}


.body {
    grid-area: body;
    display: grid;
    grid:
        "title" auto
        "content" 1fr
        / 1fr;
    gap: 8px;
    padding: 20px;
    background-color: #3b4465;
}


.title {
    grid-area: title;
    border: 4px solid #3B4465;
    background-color: white;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    padding: 10px;
    width: 210mm;
    margin: 0 auto 40px auto;
    text-align: center;
}

.title:focus {
    border-color: #A7E245;
    box-shadow: 0 0 5px rgba(167, 226, 69, 0.5);
}


.content {
    color: #000;
    flex-grow: 1;
    border-radius: 8px;
    border: 4px solid #3B4465;
    outline: none;
    overflow-y: auto;
    white-space: pre-wrap;
    background-color: white;
    width: 210mm;
    min-height: 297mm;
    padding: 25mm;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto 40px auto;
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size: 12pt;
    line-height: 1.6;
}

.content:focus {
    border-color: #A7E245;
    box-shadow: 0 0 5px rgba(167, 226, 69, 0.5);
}
